/*estilos del sitio*/
.error-required input{
	border-color: #d9534f;
}

.error-message{
	display: none;
}

.icon-contact{
	border-radius: 50%;
}

.icon-contact, .text-contact{
	display: inline-block;
	margin: 0 auto;
	vertical-align: middle;
}